{
    debug
    local_certs
    # auto_https disable_redirects
}

adminer.test {
   reverse_proxy adminer:8080
}

mailhog.test {
   reverse_proxy mailhog:8025
}

minio.test {
   reverse_proxy minio:9000
}

meilisearch.test {
   reverse_proxy meilisearch:7700
}

# Cine Q
q.test {

    @ws {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @ws php-worker:6001

    root * /var/www/q/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

mailgun.test {
    root * /var/www/webhook-mailgun/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

theloom.test {
    root * /var/www/theloom/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

cambium.test {
    root * /var/www/thecambium/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

cms.cambium.test {
     reverse_proxy 127.0.0.1:1337
}

strata.test {
    root * /var/www/strata/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

loveusoap.test {
    root * /var/www/loveusoap/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

koala.test {
    root * /var/www/koala-cherries/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

video-inspection.test {
    root * /var/www/video-inspection/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

stripe-payment.test {
    root * /var/www/accept-a-payment/custom-payment-flow/server/php/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

http://stripe-payment.test {
    root * /var/www/accept-a-payment/custom-payment-flow/server/php/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

agushi.test {
    root * /var/www/agushi/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

bestratedtransport.test {
    root * /var/www/bestratedtransport/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

integr8.test {
    root * /var/www/integr8/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

defex.test {
    root * /var/www/defex/public/
    php_fastcgi php-fpm-7.4:9000
    file_server

    encode gzip
}

honestysnacks.test {
    root * /var/www/honestysnacks/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

mandoleorchard.test {
    root * /var/www/mandoleorchard/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

enqip.test {
    root * /var/www/enqip/public/
    php_fastcgi php-fpm-7.4:9000
    file_server

    encode gzip
}

matteos.test {
    root * /var/www/matteos/www/
    php_fastcgi php-fpm-7.4:9000

    file_server

    encode gzip
}

fossnovena.test {
    root * /var/www/acn-foss/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

dev.acn.com {
    root * /var/www/acn/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

dev.thatcatholicshop.com {
    root * /var/www/acn/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

dev.app.dynamicts.com.au {
    root * /var/www/dynamictradesolutions/public/
    php_fastcgi php-fpm:9000
    file_server
    encode gzip
}

dev.dynamicts.com.au {
    root * /var/www/dynamictradesolutions/public/
    php_fastcgi php-fpm:9000
    file_server
    encode gzip
}

phs.test {
    root * /var/www/phs-webapp/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

http://phs.test {
    root * /var/www/phs-webapp/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

connected.test {
    root * /var/www/connected/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}


design-system.test {
    root * /var/www/design-system/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

precision-scaffolding.test {
    root * /var/www/precision-scaffolding/public
    root * /var/www/precision-scaffolding/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

flooringlab-splash.test {
    root * /var/www/flooringlab-splash/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

flooringlab.test {
    root * /var/www/flooringlab/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

*.flooringlab.test {
    root * /var/www/flooringlab/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

flooringlabtenant.test {
    root * /var/www/flooringlab/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

premax.test {
    root * /var/www/premax.web/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

#*.dev.app.misura.com.au {
#    root * /var/www/misura/public/
#    php_fastcgi php-fpm:9000
#    file_server
#
#    encode gzip
#}

evolutionelectrical.test {
    root * /var/www/evolutionelectrical/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

washed.test {
    root * /var/www/washed/public/
    php_fastcgi php-fpm-7.4:9000
    file_server

    encode gzip
}

wrapstudio.test {
    root * /var/www/wrapstudio/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

kanopi.test {
    root * /var/www/kanopi/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

industrypropertygroup.test {
    root * /var/www/industrypropertygroup/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

project-starter.test {
    root * /var/www/project-starter/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

ipg.test {
    root * /var/www/industrypropertygroup/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

gradcon.test {
    root * /var/www/gradcon/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

senseofself.test {
    root * /var/www/senseofself/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

aheevastatus.test {
    root * /var/www/aheevastatus/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

visyproductcatalogue.test {
    root * /var/www/visyproductcatalogue/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

senseofself-accuity.test {
    root * /var/www/senseofself-accuity/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

http://dcodepay.test {
    root * /var/www/dcodepay/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

dev.esgportal.com {
    root * /var/www/esg/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

dev.soildeclaration.com {
    root * /var/www/esg/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

dev.earthsolutionsgroup.com.au {
    root * /var/www/esg/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

customerplus.test {
    root * /var/www/customerplus/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

dcodegroup.test {
    root * /var/www/dcode/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

ombord.test {
    root * /var/www/ombord/public/
    php_fastcgi php-fpm-7.4:9000
    file_server

    encode gzip
}

mlilyportal.test {
    root * /var/www/mlilyportal/public/
    php_fastcgi php-fpm-7.4:9000
    file_server

    encode gzip
}

leeelectrix.test {
    root * /var/www/leeelectrix/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

aluline.test {
    root * /var/www/aluline/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

clicks.test {
    root * /var/www/clicks/web/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

hoban.test {
    root * /var/www/hoban/web/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

bluehawk.test {
    root * /var/www/bluehawk/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

elaa.test {
    root * /var/www/elaa/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

wellbeing-server.test {
    root * /var/www/wellbeing-server/public/
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

# Greeta
#greeta.test {
#    root * /var/www/greeta-laravel/public/
#    php_fastcgi php-fpm:9000
#    file_server
#
#    encode gzip
#}

shlink.test {
    root * /var/www/shlink/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}

urlhub.test {
    root * /var/www/urlhub/public
    php_fastcgi php-fpm:9000
    file_server

    encode gzip
}
