# Docs: https://caddyserver.com/docs/caddyfile
0.0.0.0:80 {
    root /var/www/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions with laravel change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    # Uncomment to enable TLS (HTTPS)
    # Change the first list to listen on port 443 when enabling TLS
    #tls self_signed

    # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
    #tls {
    #  dns cloudflare
    #}
}

# Cine Q
q.test:80 {
    root /var/www/q/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://q.test{uri}
}

q.test:443 {
    root /var/www/q/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

# Greeta
greeta.test:80 {
    root /var/www/greeta-laravel/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://greeta.test{uri}
}

greeta.test:443 {
    root /var/www/greeta-laravel/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

# Greeta Wordpress
greeta-wordpress.test:80 {
    root /var/www/greeta-wordpress/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://greeta-wordpress.test{uri}
}

greeta-wordpress.test:443 {
    root /var/www/greeta-wordpress/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

# Screensavers
screensavers.test:80 {
    root /var/www/screensavers/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://screensavers.test{uri}
}

screensavers.test:443 {
    root /var/www/screensavers/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

#surprise
surprise.test:80 {
    root /var/www/surprise-and-delight/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://surprise.test{uri}
}

surprise.test:443 {
    root /var/www/surprise-and-delight/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

# babyrzepecki
babyrzepecki.test:80 {
    root /var/www/babyrzepecki/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://babyrzepecki.test{uri}
}

babyrzepecki.test:443 {
    root /var/www/babyrzepecki/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

#taskey
taskey.test:80 {
    root /var/www/taskey-laravel/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://taskey.test{uri}
}

taskey.test:443 {
    root /var/www/taskey-laravel/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}

# Websockets
 websockets.test:80 {
    root /var/www/laravel-websockets/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    #redir https://websockets.test{uri}
}

websockets.test:443 {
    root /var/www/laravel-websockets/public
    tls self_signed
    fastcgi / php-fpm:9000 php {
        index index.php
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
}
